<div class="conatiner">
     <div class=butons>
          <button class="btn btn-primary" value="Cp-lab1" (click)="goto($event)">CP Lab-1</button>
          <button class="btn btn-primary" value="Cp-lab2" (click)="goto($event)">CP Lab-2</button>
          <button class="btn btn-primary" value="Elcs-Lab" (click)="goto($event)">ELCS Lab</button>
          <button class="btn btn-primary" value="Mpi-Lab" (click)="goto($event)">MPI Lab</button>
          <button class="btn btn-primary" value="IT-Lab" (click)="goto($event)">IT Lab</button>
          <button class="btn btn-primary" value="BS-Lab" (click)="goto($event)">BS Lab</button>
          <button class="btn btn-primary" value="Cp-Lab" (click)="goto($event)">New Lab</button>
     </div>
     

</div>