<div class="container">
     <div class="main">
<img src="assets/images/main.png" alt="sree rama logo">
     </div>
     <div class="secondmain">
<div class="sres" style="cursor: pointer;">
     <img src="assets/images/sres.png" alt="sret logo" (click)="sret()">  
 
</div>
<div style="border-top:2px solid white ; margin-top: 50px; margin-bottom: 50px; border-radius: 50%;"></div>
<div class="sret" style="cursor: pointer;">
     <img src="assets/images/sret.png" alt="sres logo" (click)="sret()">  
</div>        
     </div>
</div>