<div class="head">
     <h1 class="headings">Register</h1> 
     
     
     <!--  heading-->
   </div>
   <div id="formdiv">
     <div>
       <h2 class="innerhead">Create New</h2>
       <!--container heading -->
     </div>
     <div><hr id="rule" /></div>
   
     <form [formGroup]="form" novalidate (ngSubmit)="submit(form.value)">
       <div class="container">
         <div id="one">
           <label for="name">Candidate Name</label>
           <input
             id="name"
             type="text"
             formControlName="fullName"
             class="form-control"
             placeholder="Candidate Name*"
           />
           <div class="danger" *ngIf="fullName.touched && fullName.invalid">
             <div *ngIf="fullName.errors.required">Username Required</div>
             <div *ngIf="fullName.errors.pattern">Invalid Name</div>
             <div *ngIf="fullName.errors.minlength">name should be greater than 5</div>
           </div>
           <div>
             <label for="contacts">Contact*</label>
             <input
               type="text"
               class="form-control"
               placeholder="Contact*"
               formControlName="phoneNumber"
               id="contacts"
             />
             <div class="danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
               <div *ngIf="phoneNumber.errors.required">PhoneNumber Required</div>
               <div *ngIf="phoneNumber.errors.pattern">PhoneNumber NotMatched pattern</div>
               <div *ngIf="phoneNumber.errors.minlength">PhoneNumber min 10 length</div>
               <div *ngIf="phoneNumber.errors.maxlength">PhoneNumber max 10 length</div>
             </div>
           
           </div>
          
   
           <div>
             <label for="email">Email*</label>
             <input
               id="email"
               formControlName="email"
               type="email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="Email*"
             />
             <div class="danger" *ngIf="mail.touched && mail.invalid">
               <div *ngIf="mail.errors.required">Email Required</div>
               <div *ngIf="mail.errors.pattern">Invalid Email</div>
              </div>
            
             </div>
             <div>
               <label for="password">Email*</label>
               <input
                 id="email"
                 formControlName="password"
                 type="password"
                 class="form-control"
                 
              placeholder="Password*"
               />
               <div class="danger" *ngIf="password.touched && password.invalid">
                 <div *ngIf="password.errors.required">password Required</div>
                 <div *ngIf="password.errors.minlength">password shouldbe minimum of 6 length</div>
                 
                </div>
              
               </div>
          
           
          
         </div>
        
       </div>
     
    
         
      
       <button id="btns" type="submit" [disabled]="form.invalid">Register</button>
     </form>
   </div>